img {
  animation: zoom-in-zoom-out 2s ease;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(2.5, 2.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

a {
  transition: transform 0.2s;
}
a:hover {
  transform: scale(1.2);
}
