body {
  min-height: 100%;
  background-image: url("./assets/sky.jpg");
  background-size: cover;
}

* {
  font-family: "SpaceMono", sans-serif;
}

@font-face {
  font-family: "SpaceMono";
  src: url("./assets/SpaceMono-Regular.ttf");
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
